@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  /* ปรับขนาด Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* พื้นหลังของ Scrollbar */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* สีของ Scrollbar */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4a90e2;
    border-radius: 10px;
  }

  /* Hover แล้วเปลี่ยนสี Scrollbar */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #357ABD;
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
