@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-red: #e12729;
  --color-orange: #f37324;
  --color-green: #007f4e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.custom-bg-red {
  background-color: var(--color-red);
}

.custom-bg-orange {
  background-color: var(--color-orange);
}

.custom-bg-green {
  background-color: var(--color-green);
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1a1a;
    --foreground: #edededf3;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes answerDown {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: monospace, Helvetica, sans-serif;
}
